*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 1110px;
    margin: auto;
}
.main_page{
    height: 90vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;

}